@using riwitalentfrontend.Models
@using riwitalentfrontend.Services
@inject GroupCodersServices GroupCodersServices
@namespace riwitalentfrontend.Components.GroupCoder

@if (ListOfCoders != null)
{
    @foreach (var coder in ListOfCoders.Coders)
    {
        <MudPaper Elevation="1" Style="margin-bottom: 5px">
            <p>Id: @coder.Id</p>
            <p>IdCoder: @coder.FirstName</p>
            <p>IdGroup: @coder.SecondName</p>
            <p>Date: @coder.Email</p>
            <p>Status:  @coder.Age</p>
        </MudPaper>
    }
}
else
{
    <p>Loading</p>
}


@code {
    [Parameter]
    public string? Key { get; set; }

    private CodersInGroup? ListOfCoders { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await GetGroupCoders();
    }

    private async Task GetGroupCoders()
    {
        var getGroupResponse = await GroupCodersServices.GetCodersInGroupAsync(key: Key);

        if (getGroupResponse != null)
        {
            ListOfCoders = getGroupResponse;
        }

    }
}