@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager navManager

@* Required *@
<MudThemeProvider />
@* Needed for dialogs *@
<MudDialogProvider />
@* Needed for snackbars *@
<MudSnackbarProvider />


<CascadingAuthenticationState> 

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">

            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    No estas autorizado para ver esta página.
                    @{
                        navManager.NavigateTo("/");
                    }
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
