@using riwi.Services
@using riwi.Models
@inject CoderService coderService
@inject IModalService model




@*Filtrado - Coder*@
<MudPaper class="filter-container" style="width: 85%; margin-top: 50px;" Elevation="1">
    <!-- Botón "Filtrar por" -->
    <button class="filter-container__button filter-container__button--primary">
        <i class="fa fa-filter"></i> Filtrar por:
    </button>

    <MudTextField @bind-Value="searchText" Label="Nombre" class="filter-container__input"></MudTextField>

    <!-- Campo para filtrar por Skills -->
    <InputSelect @bind-Value="skills" class="filter-container__select">
        <option value="">Seleccione Skill</option>
        <option value="JavaScript">JavaScript</option>
        <option value="C#">C#</option>
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="Ruby">Ruby</option>
        <option value="PHP">PHP</option>
        <option value="React">React</option>
    </InputSelect>


    <!-- Campo para filtrar por Language Level -->
    <InputSelect @bind-Value="languageLevel" class="filter-container__select">
        <option value="">Seleccione Nivel de ingles</option>
        <option value="A1">A1</option>
        <option value="A2">A2</option>
        <option value="B1">B1</option>
        <option value="B2">B2</option>
        <option value="C1">C1</option>
        <option value="C2">C2</option>
    </InputSelect>

    <!-- Botón para aplicar el filtro -->
    <MudButton OnClick="FilterCoders" Variant="Variant.Filled" Color="Color.Primary" class="filter-container__button filter-container__button--apply">
        Filtrar
    </MudButton>

    <!-- Mostrar el botón limpiar solo si ya se ha aplicado el filtro -->
    @if (FilterApplied)
    {
        <MudButton OnClick="ClearFilters" Variant="Variant.Filled" Color="Color.Secondary" class="filter-container__button filter-container__button--clear">
            Limpiar 
        </MudButton>
    }

    
</MudPaper>



@if(coders != null)
{
    <div class="cards">
    
        @foreach(var coder in paginatedCoders)
        {
            <MudCard>
                @if(coder.Photo != null)
                {
                    <MudImage 
                            Src="@ImageNullOrEmpty(coder.Photo)" 
                            Alt="profile" 
                            />
                }
                else
                {
                    <p>Cargando...</p>
                }
                <MudCardContent>
                        <div class="cards__container">
                            <div class="cards__profile">
                                <div class="cards__coder">
                                    <h3>@coder.FirstName @coder.FirstLastName</h3>
                                    <p>@coder.Stack</p>
                                </div>
                                    <a><img src="images/group-add.svg" alt="icon"></a>
                            </div>
                            @*badges*@
                            @if(coder.Skills != null)
                            {
                                <div class="cards__badges">
                                    @for(int i = 0; i < coder.Skills.Count && i < 6; i++)
                                    {
                                        <div class="cards__badge">@coder.Skills[i].Language_Programming</div>
                                    }
                                </div>
                            }
                            else
                            {
                                <p>Contenido no disponible...</p>
                            }
                            @*Buttons*@
                            <div class="cards__button">
                                <MudButton style="background: #fff; width: 100%;" Variant="Variant.Filled" OnClick="@(() => ShowDetails(@coder.Id))">@ButtonDetails</MudButton>      
                            </div>
                        </div>
                </MudCardContent>
            </MudCard>
        }
    </div>

    <div class="container-pagination">
        <div class="container-box">
            <MudPagination Variant="Variant.Filled"  ShowPreviousButton="false" ShowNextButton="false" Count="@pag" PageSize="@pageSize"  TotalItems="@totalCoders" SelectedChanged="@OnPageChanged" Rectangular="true" />
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>

}

@code
{
    public string ButtonDetails = "Detalle";
    private List<Coder>? coders;

    //paginación
    private List<Coder>? paginatedCoders;
    private int totalCoders;
    private int currentPage = 1;
    private int pageSize = 8;
    private int pag;

    //filtrado*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-
    //Lista para guardar los coder filtrados
    private List<Coder>? filterCoder;

    // Variables para los filtros
    private string? firstName;
    private string? firstLastName;
    private string? skills;
    private string? languageLevel;
    private string? searchText;

    private bool FilterApplied = false;

    
    

    protected override async Task OnInitializedAsync()
    {
        //realizamos el llamado a la api
        try
        {
            coders = await coderService.GetCodersAsync();
            totalCoders = coders.Count;
            pag = (int)Math.Ceiling((double)totalCoders / pageSize);
            Console.WriteLine(pag);
            LoadCoders(currentPage);
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error al obtener coders: {ex.Message}");
        }
    }

    private async Task LoadCodersAsync()
    {
        try
        {
            coders = await coderService.GetCodersAsync();
        }
        catch(Exception ex)
        {
            Console.WriteLine($"Error al obtener coders: {ex.Message}");
        }
    }


    private void OnPageChanged(int pageNumber)
    {
        currentPage = pageNumber;
        LoadCoders(currentPage);
    }

    private async Task FilterCoders()
    {
    // Primero, cargamos la lista completa desde el servicio
    Console.WriteLine("HOLA");
    coders = await coderService.GetCodersAsync();

    // Filtrar por nombres o apellidos (FirstName, SecondName, FirstLastName, SecondLastName)
    if (!string.IsNullOrEmpty(searchText))
    {
        var searchTerms = searchText.Split(new[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
        Console.WriteLine("Filtrando por nombres o apellidos...");

        coders = coders.Where(c =>
        {
            var fullName = $"{c.FirstName} {c.SecondName} {c.FirstLastName} {c.SecondLastName}".ToLower();

            // Verificar todas las combinaciones posibles
            bool isMatch = searchTerms.All(term =>
                $"{c.FirstName} {c.SecondName}".ToLower().Contains(term.ToLower()) ||
                $"{c.FirstName} {c.FirstLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.FirstName} {c.SecondLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.SecondName} {c.FirstLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.SecondName} {c.SecondLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.FirstLastName} {c.SecondLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.FirstName} {c.SecondName} {c.FirstLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.FirstName} {c.SecondName} {c.SecondLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.FirstName} {c.FirstLastName} {c.SecondLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.SecondName} {c.FirstLastName} {c.SecondLastName}".ToLower().Contains(term.ToLower()) ||
                $"{c.FirstName} {c.SecondName} {c.FirstLastName} {c.SecondLastName}".ToLower().Contains(term.ToLower())
            );
            FilterApplied = true;
            return isMatch;
        }).ToList();
    }

    // Aplicar filtro de Skills
    if (!string.IsNullOrEmpty(skills))
    {
        coders = coders.Where(c => c.Skills.Any(s => s.Language_Programming.Contains(skills, StringComparison.OrdinalIgnoreCase))).ToList();
    }
    // Aplicar filtro de Nivel de Lenguaje
    if (!string.IsNullOrEmpty(languageLevel))
    {
        coders = coders.Where(c => c.LanguageSkills != null && c.LanguageSkills.Language_Level.Equals(languageLevel, StringComparison.OrdinalIgnoreCase)).ToList();
        FilterApplied = true;
    }

    totalCoders = coders.Count;
    pag = (int)Math.Ceiling((double)totalCoders / pageSize);
    LoadCoders(currentPage);

    // Actualizar la UI para reflejar los cambios
    StateHasChanged();
    }


    private async Task ClearFilters()
    {
        // Limpia los valores de los filtros
        Console.WriteLine("Limpiaste");
            // Limpia los valores de los filtros
        firstName = "";
        firstLastName = "";
        skills = "";
        languageLevel = "";


        // Recarga la lista completa de coders sin filtros de manera asíncrona
        coders = await coderService.GetCodersAsync();

        // Actualiza el total de coders y las páginas
        totalCoders = coders.Count;
        pag = (int)Math.Ceiling((double)totalCoders / pageSize);

        // Carga la primera página después de limpiar los filtros
        currentPage = 1;
        LoadCoders(currentPage);
        FilterApplied = false;

        // Actualiza la UI
        StateHasChanged();
    }



    private void LoadCoders(int pageNumber)
    {
        paginatedCoders = coders
                            .Skip((pageNumber - 1) * pageSize)
                            .Take(pageSize)
                            .ToList();
    }




    //Funcionalidad ver detalles
    private async Task ShowDetails(string id)
    {
        var coder = coders.FirstOrDefault(c => c.Id == id);
        if (coder != null)
        {
            var parameters = new ModalParameters();
            parameters.Add(nameof(ModalCoderDetails.Coder), coder);

            var modal = model.Show<ModalCoderDetails>("Detalles del Coder", parameters);
            await modal.Result;
        }
    }


    //Lógica para renderizar imagen por defecto
    private string ImageNullOrEmpty(string? photo)
    {
        if(string.IsNullOrEmpty(photo))
        {
            return "images/Avatar1.png";
        }

        return photo;
    }
}