@inherits Blazored.Modal.BlazoredModal
@using riwi.Models;
@using riwi.Services;
@inject CoderService coderServie
@inject IModalService model


<head>
    <link rel="stylesheet" href="css/ModalCoderDetails.css">
</head

@if (Coder != null)
{
    <BlazoredModalTitle>
        @* <MudImage class="photo-modal" Src="@Coder.Photo" /> *@
    </BlazoredModalTitle>

    <BlazoredModalContent class="content-modal">

        <MudPaper Elevation="0" class="content__left-container">

            <MudPaper Elevation="0" class="content_left-container_top">
                <MudImage class="photo-modal-coder" Src="@Coder.Photo" />


                <p class="content_left-container_top__stack">@Coder.Stack</p>

                <p class="content_left-container_top__standar">@Coder.Status</p>

                <MudButton EndIcon="@Icons.Material.Outlined.FileDownload" class="content_left-container_top__hv">Descargar CV</MudButton>
            </MudPaper>

            <MudPaper Elevation="0" class="content_left-container_bot">
                <h4 class="content_left-container_bot__process">Proceso actual</h4>
                <MudPaper Elevation="0" class="content_left-container_bot__group">
                    <div role="img" class="mud-avatar mud-avatar-group mud-avatar-medium mud-avatar-filled mud-avatar-filled-primary mud-elevation-0" style="">D</div>
                    
                    <div class="content_left-container_bot-text_group">
                        <h5 class="content_left-container_bot-text_group__name">Grupo Celsia</h5>
                        <p class="content_left-container_bot-text_group__description">Proceso de selecciòn</p>
                    </div>
                </MudPaper>
            </MudPaper>
            
             <MudButton StartIcon="@Icons.Material.Outlined.Edit" class="content_left-container_top__edit">Editar</MudButton>
        </MudPaper>

        <MudPaper Elevation="0" class="content__right-container">
            <MudPaper Elevation="0" class="content__right-container_top">
                <h4 class="content__right-container_top__titulo_personal">Informaciòn personal</h4>
                <form action="" class="content__right-container_top__form" Valid="formValid">
                    
                    <div class="content__right-container_top_boxes-inputs">
                        <label class="content__right-container_top__labels" for="FirstName">Primer Nombre</label>
                        <input disabled type="text" Padding="10px" class="content__right-container_top__input" id="FirstName" value="@Coder.FirstName" />
                    </div>

                    <div class="content__right-container_top_boxes-inputs">
                        <label class="content__right-container_top__labels"  for="SecondName">Segundo Nombre</label>
                        <input disabled type="text" Padding="10px" class="content__right-container_top__input" id="SecondName" value="@Coder.SecondName" />
                    </div>
                    
                    <div class="content__right-container_top_boxes-inputs">
                        <label class="content__right-container_top__labels"  for="FirstLastName">Primer Apellido</label>
                        <input disabled type="text" Padding="10px" class="content__right-container_top__input" id="FirstLastName" value="@Coder.FirstLastName" />
                    </div>

                        
                    <div class="content__right-container_top_boxes-inputs">
                        <label class="content__right-container_top__labels"  for="FirstName">Segundo Apellido</label>
                        <input disabled type="text" Padding="10px" class="content__right-container_top__input" id="SecondLastName" value="@Coder.SecondLastName" />
                    </div>

                    <div class="content__right-container_top_boxes-inputs">
                        <label class="content__right-container_top__labels"  for="FirstName">Correo</label>
                        <input disabled type="email" Padding="10px" class="content__right-container_top__input" id="Email" value="@Coder.Email" />
                    </div>

                    <div class="content__right-container_top_boxes-inputs">
                        <label class="content__right-container_top__labels"  for="FirstName">Edad</label>
                        <input disabled type="number" class="content__right-container_top__input" id="Edad" value="@Coder.Age" Min="18" Max="100" Step="1" />
                    </div>

                </form>

            </MudPaper>


            <!-- Sección de Información Profesional -->
            <MudPaper Elevation="0" class="content__right-container_mid">
                <h4 class="content__right-container_mid__title">Información Profesional</h4>
                <p class="content__right-container_mid__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec justo metus. Duis scelerisque pellentesque nunc, semper tristique libero feugiat a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec justo metus . Duis scelerisque pellentesque nunc, semper tristique libero feugiat a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec justo metus. Duis scelerisque pellentesque nunc, semper tristique libero feugiat a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec justo metus. Duis scelerisque pellentesque nunc, semper tristique libero feugiat a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec justo metus. Duis scelerisque pellentesque nunc, semper tristique libero feugiat a. </p>
            </MudPaper>

            <!-- Sección de  Habilidades Tècnicas -->
            <MudPaper Elevation="0" class="content__right-bot">
            
                <h5 class="content__right-container_bot__title">Habilidades Técnicas</h5>
                <div class="content__right-container_bot__skills">
                    @*badges*@
                    @if(Coder.Skills != null)
                    {
                        <div class="badges">
                            @for(int i = 0; i < Coder.Skills.Count && i < 6; i++)
                            {
                                <span class="badge">@Coder.Skills[i].Language_Programming</span>
                            }
                        </div>
                    }
                    else
                    {
                        <p>Contenido no disponible...</p>
                    }
                </div>
            </MudPaper>

        </MudPaper>

    </BlazoredModalContent>
}
else
{
    <p>Loading...</p>
}



@code {
    private bool aceptoTerminos = false;
    private List<Coder>? coders;
    [Parameter] public Coder Coder { get; set; }


    private void SubmitForm()
    {
        // Lógica para guardar cambios
        Console.WriteLine("Formulario enviado y cambios guardados.");
    }

    private void editButtonInputs(){
        
    }
}

